extends layout

block navbar
    include navbar
block content

    div.container
        div.row
            div.col.12
                h1 Images
                a(href="https://farm8.staticflickr.com/7141/13626409804_f08120f6bd_o_d.jpg") Beach image
https://farm7.staticflickr.com/6164/6206013520_53de6bb6b0_o_d.jpg
https://upload.wikimedia.org/wikipedia/commons/3/3e/Tennis_Racket_and_Balls.jpg
https://pixabay.com/static/uploads/photo/2015/09/14/11/43/restaurant-939435_960_720.jpg
https://upload.wikimedia.org/wikipedia/commons/f/f4/MovieTheatre_gobeirne.jpg
https://upload.wikimedia.org/wikipedia/commons/2/21/Barack_and_Michelle_Obama_looking_the_2009_Superbowl_with_3-D_glasses.jpg
https://farm5.staticflickr.com/4109/5069116479_af4515cd82_o_d.jpg
https://pixabay.com/static/uploads/photo/2015/07/20/10/11/concert-852575_960_720.jpg
https://farm6.staticflickr.com/5251/5546923175_5ccff09b5a_o_d.jpg
https://farm8.staticflickr.com/7230/7283448284_f2609ed460_o_d.jpg
https://upload.wikimedia.org/wikipedia/commons/d/d4/Nepomuk_280_-_Osadn%C3%ADci_z_Katanu.jpg
https://upload.wikimedia.org/wikipedia/commons/b/be/Role_playing_gamers.jpg
https://upload.wikimedia.org/wikipedia/commons/e/eb/Role_playing_gamers_(III).jpg
https://farm3.staticflickr.com/2354/5824862885_b015559d3e_o_d.jpg
https://upload.wikimedia.org/wikipedia/commons/8/8b/Seneca-hiking-trail_-_West_Virginia_-_ForestWander.jpg
https://upload.wikimedia.org/wikipedia/commons/0/0f/US_Navy_070524-N-8467N-002_Seaman_Apprentice_Christopher_Clement_prepares_trays_at_Holy_Apostles_Soup_Kitchen_in_Manhattan.jpg
https://upload.wikimedia.org/wikipedia/commons/8/87/US_Navy_040623-N-8977L-010_Sailors_assigned_to_Nimitz-class_aircraft_carrier_USS_Ronald_Reagan_(CVN_76)_position_a_frame_of_a_wall_while_helping_the_non-profit_group_Habitat_for_Humanity_build_homes.jpg
http://res.freestockphotos.biz/pictures/16/16337-a-woman-enjoying-gardening-outdoors-pv.jpg
https://upload.wikimedia.org/wikipedia/commons/1/1a/Krakow_Shopping_mall_(interior),_Pawia_street,_Krakow,_Poland.jpg
https://upload.wikimedia.org/wikipedia/commons/b/bd/Munich_-_A_Ballroom_dance_school_-_9230.jpg
https://upload.wikimedia.org/wikipedia/commons/5/58/Guitar_play.jpg
http://upload.wikimedia.org/wikipedia/commons/3/32/Lindy_Hop_at_Washington,_DC's_DuPont_Circle.jpg
https://i.ytimg.com/vi/G2H7cZi4WOk/maxresdefault.jpg
https://upload.wikimedia.org/wikipedia/commons/3/34/Yoga_Class_at_a_Gym3.JPG
https://upload.wikimedia.org/wikipedia/commons/b/b6/Gym_wiki.jpg
https://upload.wikimedia.org/wikipedia/commons/b/b1/Pells_Pool_Lewes_Summer.JPG
https://upload.wikimedia.org/wikipedia/commons/5/52/Madrid_Zoo.jpg
https://static.pexels.com/photos/7554/controller-pad-afternoon-xbox.jpg
https://upload.wikimedia.org/wikipedia/commons/7/77/Sue,_Field_Museum_of_Natural_History.JPG
https://upload.wikimedia.org/wikipedia/commons/8/8d/Dallas_Museum_of_Art_10.jpg
https://upload.wikimedia.org/wikipedia/commons/c/cc/Simeon_Ivanov_karting.jpg
https://upload.wikimedia.org/wikipedia/commons/e/e1/Skiing_in_Andorra.jpg
https://static.pexels.com/photos/2286/restaurant-people-alcohol-bar.jpg
https://upload.wikimedia.org/wikipedia/commons/c/c8/Crowd_and_laser.jpg
https://upload.wikimedia.org/wikipedia/commons/4/40/Family_jump.jpg
https://farm9.staticflickr.com/8174/8009905609_9c72a7c452_o_d.jpg
https://farm6.staticflickr.com/5258/5480864005_bc2fe0dce3_o_d.jpg
https://c2.staticflickr.com/4/3897/15094295026_eec595c5cb_b.jpg
https://static.pexels.com/photos/4192/sport-alley-ball-game.jpg