extends layout

block navbar
    include navbar
block content
    div.row
        div.col.s12.m10.offset-m1.l8.offset-l2
            div.card.hoverable
                div.card-image
                    img.activator(src="images/beachbanner.png")
                div.card-content
                    span.card-title.activator Beach<i class="material-icons right">more_vert</i>
                    p Let's go to the beach
                div.card-reveal
                    span.card-title Beach<i class="material-icons right">close</i>
                    p More information
                div.card-action
                    a RSVP
    div.modal.modal-fixed-footer#add-event
        div.modal-content
            h4
                | Add a new event 
                i.material-icons.right.modal-close close
            div.row
                form.col.s12
                    ul.tabs
                        li.tab.col.s4
                            a.active(href="#basic") Basic Info
                        li.tab.col.s4
                            a(href="#details") More Details
                        li.tab.col.s4
                            a(href="#settings") Settings
                    div.col.s12#basic
                        div.row
                            div.input-field.col.s12
                                i.material-icons.prefix mode_edit
                                input.validate#name(type="text" required)
                                label(for="name") Name of your event
                            div.input-field.col.s12
                                i.material-icons.prefix date_range
                                input.datepicker#date(type="date")
                                label(for="date") What date is it?
                            div.input-field.col.s6
                                i.material-icons.prefix access_time
                                input.validate#timeStart(type="text" required pattern="(1[012]|[1-9]):[0-5][0-9] *(a|A|p|P)(m|M)")
                                label(for="time" data-error="Please enter a valid time") When does it start?
                            div.input-field.col.s6
                                i.material-icons.prefix access_time
                                input.validate#timeEnd(type="text" required pattern="(1[012]|[1-9]):[0-5][0-9] *(a|A|p|P)(m|M)")
                                label(for="time" data-error="Please enter a valid time") When is it over?
                            div.input-field.col.s12
                                i.material-icons.prefix event_note
                                textarea.materialize-textarea#description(type="text")
                                label(for="description") Describe your event.
                    div.col.s12#details
                        div.row
                            div.input-field.col.s12
                                textarea.materialize-textarea#description(type="text")
                                label(for="description") Describe your event.
                    div.col.s12#settings
                        div.row
                            div.input-field.col.s12
                                textarea.materialize-textarea#description(type="text")
                                label(for="description") Describe your event.
        div.modal-footer
            - var modalButtonClasses = "modal-action btn-flat waves-effect waves-dark"
            a(class=modalButtonClasses) Submit
            a.modal-close.left(class=modalButtonClasses) Close
