extends layout

block navbar
    include navbar
block content
    div.row
        div.col.s12.m10.offset-m1.l8.offset-l2
            div.card.hoverable
                div.card-image
                    img.activator(src="images/banners/beach.png")
                div.card-content
                    span.card-title.activator Beach<i class="material-icons right">more_vert</i>
                    p Let's go to the beach
                div.card-reveal
                    span.card-title Beach<i class="material-icons right">close</i>
                    p More information
                div.card-action
                    a RSVP
    div.row
        div.col.s12.m10.offset-m1.l8.offset-l2
            div.card.hoverable
                div.card-image
                    img.activator(src="images/banners/sports.png")
                div.card-content
                    span.card-title.activator Soccer<i class="material-icons right">more_vert</i>
                    p Let's play some soccer
                div.card-reveal
                    span.card-title Soccer<i class="material-icons right">close</i>
                    p More information
                div.card-action
                    a RSVP
    div.modal.modal-fixed-footer#add-event
        div.modal-content
            h4
                | Add a new event 
                i.material-icons.right.modal-close close
            div.row
                form.col.s12#newEvent(method="post" action=currentUrl + "/new")
                    ul.tabs
                        li.tab.col.s4
                            a.active#basicInfoTab(href="#basicTab") Basic Info
                        li.tab.col.s4
                            a(href="#bannerTab") Banner
                        li.tab.col.s4
                            a(href="#detailsTab") Details
                    div.col.s12#basicTab
                        div.row
                            div.input-field.col.s12
                                i.material-icons.prefix mode_edit
                                input.validate#name(name="name" type="text" required)
                                label(for="name") Name of your event
                            div.input-field.col.s12
                                i.material-icons.prefix date_range
                                input.datepicker#date(name="date" type="date" required)
                                label(for="date") What date is it?
                            div.input-field.col.s6
                                i.material-icons.prefix access_time
                                input.validate#timeStart(name="timeStart" type="text" required pattern="(1[012]|[1-9]):[0-5][0-9] *(a|A|p|P)(m|M)")
                                label(for="time" data-error="Please enter a valid time") When does it start?
                            div.input-field.col.s6
                                i.material-icons.prefix access_time
                                input.validate#timeEnd(name="timeEnd" type="text" required pattern="(1[012]|[1-9]):[0-5][0-9] *(a|A|p|P)(m|M)")
                                label(for="time" data-error="Please enter a valid time") When is it over?
                            div.input-field.col.s12
                                i.material-icons.prefix event_note
                                textarea.materialize-textarea#description(name="description" type="text")
                                label(for="description") Describe your event.
                    div.col.s12#bannerTab
                        div.row
                            div.input-field.col.s12
                                textarea.materialize-textarea#description(type="text")
                                label(for="description") Describe your event.
                    div.col.s12#detailsTab
                        div.row
                            div.input-field.col.s6
                                h5 How to Display RSVPs
                                p
                                    input#anonymous(name="rsvp" type="radio" value="anonymous" checked)
                                    label(for="anonymous") No one can see who has RSVP'd
                                p
                                    input#onlyme(name="rsvp" type="radio" value="onlyme")
                                    label(for="onlyme") Only I can see who has RSVP'd
                                p
                                    input#everyone(name="rsvp" type="radio" value="everyone")
                                    label(for="everyone") Everyone can see who has RSVP'd
                        div.row
        div.modal-footer
            - var modalButtonClasses = "modal-action btn-flat waves-effect waves-dark"
            a#newEventButton(class=modalButtonClasses) Submit
            a.modal-close.left(class=modalButtonClasses) Close

block scripts
    script(type="text/javascript").
        $("#newEventButton").click(function(){
            $("#newEvent").submit();
        });

        // The tab indicator isn't on when the modal opens, so we need to hack it a bit
        // When we click on the modal launcher, "click" on the first tab to put the indicator
        // under it. However, the modal animates in, and if it hasn't animated in, the
        // click will register a weird size, so wait a few millis after it's been clicked
        // to do it.
        $("#add-event-trigger").click(function(){
            setTimeout(function(){
                $("#basicInfoTab").trigger("click");
            },200);
        });
