extends layout

block navbar
    include navbar
block content
    div.row
        div.col.s12.m10.offset-m1.l8.offset-l2
            div.card.hoverable
                div.card-image
                    img.activator(src="images/beachbanner.png")
                div.card-content
                    span.card-title.activator Beach<i class="material-icons right">more_vert</i>
                    p Let's go to the beach
                div.card-reveal
                    span.card-title Beach<i class="material-icons right">close</i>
                    p More information
                div.card-action
                    a RSVP
    div.modal#add-event
        div.modal-content
            h4 Add a new event
            p test
        div.modal-footer
            a.modal-action.modal-close Close
            a.modal-action.modal-close Next