doctype html
html
  head
    title=title
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/timepicker/main.css')
  body
    header
        block navbar
    main
        div.section.no-pad-bot#index-banner
            div.container#content
                block content
    footer.page-footer.orange.lighten-1
        div.container
            div.row
                div.col.s12
                    p.center-align
                        a.grey-text.text-lighten-4.modal-trigger(href="/register") Signup
                        span.grey-text.text-lighten-4 &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        a.grey-text.text-lighten-4.modal-trigger(href="/login") Register
                        span.grey-text.text-lighten-4 &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        a.grey-text.text-lighten-4.modal-trigger(href="#suggestions") Leave a suggestion
                        span.grey-text.text-lighten-4 &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        a.grey-text.text-lighten-4(href="https://github.com/ranneyd/ravie") Fork this on Github
    script(type='text/javascript' src='/js/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/js/materialize.min.js')
    script(type='text/javascript' src='/js/picker.js')
    script(type='text/javascript' src='/js/picker.date.js')
    script(type='text/javascript' src='/js/picker.time.js')
    script(type='text/javascript' src='/js/index.js')
    script(type='text/javascript' src='/js/navbar.js')
    block scripts
