doctype html
html
  head
    title=title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block navbar
    div.section.no-pad-bot#index-banner
        div.container#content
            block content
    script(type='text/javascript' src='/js/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/js/materialize.min.js')
    script(type='text/javascript' src='/js/picker.js')
    script(type='text/javascript' src='/js/picker.date.js')
    script(type='text/javascript' src='/js/picker.time.js')
    script(type='text/javascript' src='/js/index.js')
    block scripts
