extends layout

block navbar
    include navbar
block content
    h1 My Groups

    each group in groups
        p.flow-text
            a(href="/#{group.url}")=group.name
            |&nbsp;-&nbsp;#{group.description}
