.activator 
    cursor: pointer

.card-action a
    cursor: pointer
.nav-icon
    margin: auto


div.picker__footer
    padding: 10px 10px
    button
        font-size: 1.1rem
        padding: 0.5rem 0rem
        font-weight: normal
        line-height: inherit
    button.picker__button--today
        color: #26a69a
    button.picker__button--close
        color: #26a69a
div.picker__fancy__header
    background-color: #26a69a
    padding: 8px 10px 8px 10px
    p
        margin: 0px 10px 0px 10px
img.banner-preview
    width: 80%
    text-align: center
    margin-top: 10px
.margin-top
    margin-top: 50px
iframe.map
    border: 0
    margin-top: 20px

ul.tabs
    overflow-x: hidden
p.lean
    margin-top: 0px
.no-margin-bottom
    margin-bottom: 0px
.video-container
    width: 100%
    padding-bottom: 70%
    max-height: 400px
.flex-box-fill
    display: flex
    flex-direction: column
    flex: 1
.flex1
    flex: 1
.flex
    display: (flex !important)