// colors
$c-primary-dark: #fb8c00;
$c-primary: #ffa726;
$c-primary-light: #ffcc80;
$c-text: #FFFFFF;
$c-accent: #9E9E9E;
$c-primary-text: #212121;
$c-secondary-text: #727272;
$c-divider: #B6B6B6;
$c-clock-face: #EFEFEF;
